img{
    height: 40px;
}

.carrito-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.carrito-img{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background-color: #6a6a6a;
    }
}

.carrito-cantidad{
    height: 25px;
    width: 25px;
    position: relative;
    background-color: red;
    border-radius: 50px;
    display: grid;
    top: 0;
    right: 10px;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 15px;
}
